<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<td>Name</td>
			<td>Description</td>
			<td>Price</td>
			<td>Quantity</td>
			<td colspan="1"></td>
		</tr>
	</thead>
	<tbody>
		<% @products.each do |product| %>
		<tr>
			<td><%= product.name %></td>
			<td><%= product.description %></td>
			<td><%= product.price %></td>
			<td><%= product.quantity %></td>
			<td>
				<%= 
					button_to "Delete", 
					product, method: :delete, 
					class: "btn btn-danger",
					data: {confirm: "Are you sure you want to delete #{product.name}?"} 
				%>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>